body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ffff;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-content {
    padding: 20px;
  }
  
  /* Index Page Styles */
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
  padding: 10px;
  text-align: center; /* Menengahkan isi product card */
}
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }

  .product-card p {
    margin-bottom: 10px;
  }

  
  
  /* Login, Signup Page Styles */
  
  .login-container,
  .signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container h2,
  .signup-container h2 {
    margin-top: 0;
  }
  
  .login-container label,
  .signup-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-container input,
  .signup-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .login-container button,
  .signup-container button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Cart Page Styles */
  
  .cart-content {
    padding: 20px;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Payment Page Styles */
  
  .payment-content {
    padding: 20px;
  }
  
  /* Order, Order Status Page Styles */
  
  .order-status-content {
    padding: 20px;
  }